.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 5px
}

@media (max-width:767px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}